.d-flex{
    display: flex;
}
.p-absolute{
    position: absolute;
    
    z-index: 99;
}
.w-100{
    width: 100vw;
}
.left-100{
    left: -100%;
   
}
.transform{
    transform: translateX(-100%);
   
}
.transition{
    transition: all .5s;
}